// Variables
$primary-color: #11b981;
$primary-dark: #099567;
$primary-light: #d1fae6;

$secondary-color: #f59e0b;
$color-grey: #888b97;

$color-danger: #ef4444;
$color-danger-light: #ffe2e2;

$info-color: #1e4ed8;
$info-color-light: #dbeafe;

$text-color: #1b1c57;
$color-white: #fff;
$text-muted: #626687;
$font-family: "Lexend", sans-serif;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
